*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:linear-gradient(135deg,#6fb6d9,#cfe9f7);
min-height:100vh;
}

.main-header {
    background-color: #ffffff;
    padding: 5px 0; 
    height: 90px;   
    display: flex;
    overflow: visible;
    align-items: center; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.logo img {
    height: 140px !important; 
    width: auto;
    margin-top: -25px;   
    margin-bottom: -25px; 
    display: block;
    position: relative;
    z-index: 5;  
}

.nav-links {
    display: flex;
    gap: 35px; 
    margin-bottom: 0; 
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav-links a {
    text-decoration: none;
    color: #4dbbee;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1;
  
    white-space: nowrap; 
}


.nav-links a:nth-child(3) {
    padding: 0 5px; 
}
.header-right {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    flex: 1;
}

.login-link {
    text-decoration: none;
    color: #4dbbee;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-icon {
    color: #4dbbee;
    font-size: 1.1rem;
    cursor: pointer;
}


.manage-container{
width:80%;
margin:auto;
margin-top:40px;
}




.manage-header{
text-align:center;
margin-bottom:30px;
}

.manage-header h1{
color:#4fa2c7;
}

.manage-header p{
color:#666;
}




.manage-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
margin-bottom:40px;
}

.manage-form{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.form-group{
display:flex;
flex-direction:column;
flex:1;
}

.form-group label{
margin-bottom:5px;
}

.form-group input{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
}


/* BUTTON */

.search-btn{
padding:12px 20px;
border:none;
background:#5daed2;
color:white;
border-radius:6px;
cursor:pointer;
margin-top:22px;
}

.search-btn:hover{
background:#4fa2c7;
}


/* TABLE */

.booking-results{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.booking-results h2{
margin-bottom:15px;
color:#4fa2c7;
}

table{
width:100%;
border-collapse:collapse;
}

table th,
table td{
padding:12px;
text-align:center;
border-bottom:1px solid #eee;
}

th{
background:#f0f8fc;
}


/* ACTION BUTTONS */

.edit-btn{
background:#5daed2;
border:none;
padding:6px 12px;
color:white;
border-radius:5px;
cursor:pointer;
}

.cancel-btn{
background:#e74c3c;
border:none;
padding:6px 12px;
color:white;
border-radius:5px;
cursor:pointer;
margin-left:5px;
}